@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');



@media(min-width:768px){
    
    .nav-logo .nav-blog{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-blog{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-blog:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}
